.vscode
BackEnd/bin
BackEnd/obj
appsettings.json
BackEnd/obj/Debug/net8.0/backend.AssemblyInfo.cs
BackEnd/obj/Debug/net8.0/backend.AssemblyInfoInputs.cache
BackEnd/obj/Debug/net8.0/backend.assets.cache
BackEnd/obj/Debug/net8.0/backend.GeneratedMSBuildEditorConfig.editorconfig
BackEnd/bin/Debug/net8.0/backend.dll
BackEnd/bin/Debug/net8.0/backend.exe
BackEnd/bin/Debug/net8.0/backend.pdb
BackEnd/obj/backend.csproj.nuget.dgspec.json
BackEnd/obj/backend.csproj.nuget.g.props
BackEnd/obj/project.assets.json
BackEnd/obj/project.nuget.cache
BackEnd/obj/Debug/net8.0/apphost.exe
BackEnd/obj/Debug/net8.0/backend.AssemblyInfo.cs
BackEnd/obj/Debug/net8.0/backend.AssemblyInfoInputs.cache
BackEnd/obj/Debug/net8.0/backend.assets.cache
BackEnd/obj/Debug/net8.0/backend.csproj.AssemblyReference.cache
BackEnd/obj/Debug/net8.0/backend.csproj.CoreCompileInputs.cache
BackEnd/obj/Debug/net8.0/backend.genruntimeconfig.cache
BackEnd/obj/Debug/net8.0/backend.GeneratedMSBuildEditorConfig.editorconfig
BackEnd/obj/Debug/net8.0/backend.dll
BackEnd/obj/Debug/net8.0/backend.pdb
BackEnd/obj/Debug/net8.0/ref/backend.dll
BackEnd/obj/Debug/net8.0/refint/backend.dll
BackEnd/obj/Debug/net8.0/backend.GeneratedMSBuildEditorConfig.editorconfig
BackEnd/obj/Debug/net8.0/backend.assets.cache
BackEnd/obj/Debug/net8.0/backend.AssemblyInfoInputs.cache
